[Unit]
Description=Fleet FleetDM
After=network.target

[Service]
Type=simple
User=fleetdm
Group=fleetdm
LimitNOFILE=8192
ExecStart=/usr/local/bin/fleet serve --config /etc/fleetdm/fleetdm.yml
Restart=always

[Install]
WantedBy=multi-user.target